# ReCAPTCHA public key
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=

# ReCAPTCHA secret key 
CAPTCHA_KEY=

RECAPTCHA_SECRET_KEY=
NEXT_PUBLIC_SLOW_MODE=true

NEXT_PUBLIC_APP_NAME=JobRoute
NEXT_PUBLIC_LOGO_PATH=
NEXT_PUBLIC_LOGO_PATH_SECONDARY=

NEXT_PUBLIC_ALLOWED_IMAGE_DOMAINS=

NEXT_PUBLIC_PRIMARY_COLOR=#DF044D
NEXT_PUBLIC_SECONDARY_COLOR=#3E3E3E

NEXT_PUBLIC_TERMS_OF_SERVICE_URL=
NEXT_PUBLIC_PRIVACY_POLICY_URL=
NEXT_PUBLIC_CONTACT_URL=
NEXT_PUBLIC_ABOUT_US_URL=
