# OpenAI key - API_KEY and OPENAI_API_KEY are the same value.
API_KEY=
OPENAI_API_KEY=

# Django key
SECRET_KEY=

# ReCAPTCHA key
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=

# Secret key for ReCAPTCHA
CAPTCHA_KEY=

# Database credentials
DB_NAME=jobroute
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306

APP_NAME=JobRoute