@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Galvji&display=swap");

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 21px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #d0d0d0;
    border-radius: 100vh;
    border: 8px white solid;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  background: white;
  font-family: "Galvji", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 700;
  color: #000000;
}

h1 {
  font-size: 80px;
  line-height: 110%;
}

h2 {
  font-size: 40px;
  line-height: 110%;
}

h3 {
  font-size: 16px;
  line-height: 110%;
  text-transform: uppercase;
}

p,
span {
  color: #42444d;
}

a {
  color: #242529;
  text-decoration: underline;
}

a:hover {
  color: #df044d;
  text-decoration: underline;
}

body[style*="pointer-events: none"] > *:not(#app) {
  pointer-events: all;
}
